@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .backgroud {
    @apply w-full mx-auto bg-blue-500 h-screen max-h-screen py-10;
  }
  .hero {
    @apply max-w-7xl mx-auto my-5 p-10 grid grid-cols-2 gap-32;
  }
  .input {
    @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-400 transition-colors duration-150;
  }
}
.grid-custom {
  display: grid;
  grid-template-columns: 1fr 200px;
}

body {
  background-color: #0d3841;
  background-image: url(../public/img/bgimage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.custom-div {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
